<div    class="container-fluid " style="padding:40px;">
    <div class="mainArea_noNav">

        <!-- <p>potential-common works!</p> -->
        <div class="row">

            <div class="col-12" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #7667c4; color:#ffffff; border-radius: 15px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 500; cursor:pointer">
                <div class="row">
                    <i class="fa fa-arrow-left" aria-hidden="true" style="margin-top: 5px;" title="Go back to Segmentation Page"  (click)="goToSegmentation()"></i> &nbsp;&nbsp;
                    What Common Characteristics these Agents have with Potential Agent Segment ?
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                
                <mat-card>

                    <div class="row">
                        <div class="col-5 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background-color: #d7cfff;">
                            Count
                        </div>

                        <div class="col-7 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            290
                        </div>
                    </div>

                </mat-card>
            </div>

            <div class="col-lg-3 col-md-6">
                <mat-card>

                    <div class="row">
                        <div class="col-5 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background-color: #d7cfff;">
                            YTD
                        </div>

                        <div class="col-7 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            1.3 Cr
                        </div>
                    </div>
                    

                </mat-card>
                
            </div>

            <div class="col-lg-3 col-md-6">
                <mat-card>
                    
                    <div class="row">
                        <div class="col-5 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background-color: #d7cfff;">
                            MTD
                        </div>

                        <div class="col-7 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            20 L
                        </div>
                    </div>


                </mat-card>
            </div>



            <div class="col-lg-3 col-md-6">
                <mat-card>

                    <div class="row">
                        <div class="col-5 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background-color: #d7cfff;">
                            YTD ATS
                        </div>

                        <div class="col-7 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            44.8 K
                        </div>
                    </div>                   
                    
                </mat-card>
            </div>

        </div>
















        <div class="row">

            <div class="col-md-3 col-sm-12"  style="margin-top: 20px!important;">

                


                <mat-card style="margin-bottom: 20px!important;">

                    <div class="row">
                        <div class="col-12 text-center"  style="padding:10px; font-size: 20px;font-weight: 600;color: rgb(0, 69, 116); background-color: #d7cfff;">
                            Agent Profile
                        </div>
                    </div>                   
                    
                </mat-card>





                <mat-card style="margin-bottom: 20px!important;">

                    <div class="row">
                        <div class="col-3 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116);  background: linear-gradient(to right, #d7cfff, #e5e7eb);">
                            <!-- YTD ATS -->
                             <img src="assets/image/india1.png" alt="" height="30">
                        </div>

                        <div class="col-9 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            Gujarat
                        </div>
                    </div>                   
                    
                </mat-card>




                <mat-card  style="margin-bottom: 20px!important;">

                    <div class="row">
                        <div class="col-3 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background: linear-gradient(to right, #d7cfff, #e5e7eb);">
                            <!-- YTD ATS -->
                             <img src="assets/image/wedding-rings.png" alt="" height="30">
                        </div>

                        <div class="col-9 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            Married
                        </div>
                    </div>                   
                    
                </mat-card>



                <mat-card style="margin-bottom: 20px!important;">

                    <div class="row">
                        <div class="col-3 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116);  background: linear-gradient(to right, #d7cfff, #e5e7eb);">
                            <!-- YTD ATS -->
                             <img src="assets/image/briefcase.png" alt="" height="30">
                        </div>

                        <div class="col-9 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            MFA
                        </div>
                    </div>                   
                    
                </mat-card>




                <mat-card style="margin-bottom: 20px!important;">

                    <div class="row">
                        <div class="col-3 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background: linear-gradient(to right, #d7cfff, #e5e7eb);">
                            <!-- YTD ATS -->
                             <img src="assets/image/age.png" alt="" height="30">
                        </div>

                        <div class="col-9 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            35 - 40 Years
                        </div>
                    </div>                   
                    
                </mat-card>




                <mat-card style="margin-bottom: 20px!important;">

                    <div class="row">
                        <div class="col-3 text-center"  style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116);  background: linear-gradient(to right, #d7cfff, #e5e7eb);">
                            <!-- YTD ATS -->
                             <img src="assets/image/growth.png" alt="" height="30">
                        </div>

                        <div class="col-9 text-center" style="padding:10px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            Health & Motor 4W
                        </div>
                    </div>                   
                    
                </mat-card>



            </div>











            <div class="col-md-9 col-sm-12"  style="margin-top: 20px!important;">

                <div class="row" style="margin:0!important; padding:0!important;">





                    <div class="col-md-6 col-sm-12"  style="margin:0!important; padding:0!important; padding-right: 5px!important;">

                        <div class="chartBoxPad">

                            <div class="col-12 text-center" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #d7cfff; color: rgb(0, 69, 116); border-radius: 1px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 600;">
                                <div class="row text-center">
                                    Profitability
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-8">                                        
                                    <div id="common_profitability"></div>
                                </div>
    
    
                                <div class="col-4" style="display: flex; align-items: center;">

                                    <div class="row">

                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding: 10px;">
                                                Company
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                69%
                                            </div>
    
                                        </div>


                                        <div class="col-12" style="height:20px"></div>
    
                                        
    
                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding:10px;">
                                                Gujarat
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                74%
                                            </div>
    
                                        </div>

                                    </div>
                                    

                                </div>
                            </div>




                        </div>

                    </div>


                    <div class="col-md-6 col-sm-12" style="margin:0!important; padding:0!important; padding-left: 5px!important;" >
                        <div class="chartBoxPad">

                            <div class="col-12 text-center" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #d7cfff; color: rgb(0, 69, 116); border-radius: 1px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 600;">
                                <div class="row text-center">
                                    Avg. Meetinngs & Trainings / Month
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-8">                                        
                                    <div id="avgMeetingAndTrainingPerMonth"></div>
                                </div>
    
    
                                <div class="col-4" style="display: flex; align-items: center;">

                                    <div class="row">

                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding: 10px;">
                                                Company
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                14
                                            </div>
    
                                        </div>


                                        <div class="col-12" style="height:20px"></div>
    
                                        
    
                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding:10px;">
                                                Gujarat
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                17
                                            </div>
    
                                        </div>

                                    </div>
                                    

                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12" style="margin:0!important; padding:0!important; padding-right: 5px!important;" >
                        <div class="chartBoxPad">

                            <div class="col-12 text-center" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #d7cfff; color: rgb(0, 69, 116); border-radius: 1px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 600;">
                                <div class="row text-center">
                                    Retention
                                </div>
                            </div>



                            <div class="row">

                                <div class="col-8">                                        
                                    <div id="common_retention"></div>
                                </div>
    
    
                                <div class="col-4" style="display: flex; align-items: center;">

                                    <div class="row">

                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding: 10px;">
                                                Company
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                48.9%
                                            </div>
    
                                        </div>


                                        <div class="col-12" style="height:20px"></div>
    
                                        
    
                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding:10px;">
                                                Gujarat
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                72%
                                            </div>
    
                                        </div>

                                    </div>
                                    

                                </div>
                            </div>



                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12" style="margin:0!important; padding:0!important; padding-left: 5px!important;" >
                        <div class="chartBoxPad">

                            <div class="col-12 text-center" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #d7cfff; color: rgb(0, 69, 116); border-radius: 1px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 600;">
                                <div class="row text-center">
                                    Cross Sell
                                </div>
                            </div>



                            <div class="row">

                                <div class="col-8">                                        
                                    <div id="common_crossSell"></div>
                                </div>
    
    
                                <div class="col-4" style="display: flex; align-items: center;">

                                    <div class="row">

                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding: 10px;">
                                                Company
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                1.1%
                                            </div>
    
                                        </div>


                                        <div class="col-12" style="height:20px"></div>
    
                                        
    
                                        <div class="writtenParameterBox">
                                            <div class="col-12 text-center" style="background-color: #e5e7eb; padding:10px;">
                                                Gujarat
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                1.8%
                                            </div>
    
                                        </div>

                                    </div>
                                    

                                </div>
                            </div>



                        </div>
                    </div>






                </div>
                
            </div>

        </div>





    </div>

</div>
