<!-- <div id="container"></div> -->

<!-- <section>
  <div
    id="multi"
    class="example"
    style="
      width: 100px;
      position: relative;
      height: 100px;
      display: inline-block;
    "
  >
    <div
      style="
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        border: 6px solid rgba(0, 0, 0, 0.1);
        border-radius: 50px;
      "
    ></div>
    <div
      style="
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 100px;
        overflow: hidden;
      "
    >
      <div
        style="
          box-sizing: border-box;
          position: absolute;
          top: 0px;
          border-width: 6px;
          border-style: solid;
          border-color: rgb(45, 177, 228) rgb(45, 177, 228) transparent
            transparent;
          width: 200%;
          height: 100%;
          border-radius: 50%;
          left: -100%;
          transform: rotate(-15deg);
        "
      ></div>
    </div>




    <div
      style="
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 100px;
        overflow: hidden;
      "
    >
      <div
        style="
          box-sizing: border-box;
          position: absolute;
          top: 0px;
          border-width: 6px;
          border-style: solid;
          border-color: rgb(45, 177, 228) rgb(45, 177, 228) transparent
            transparent;
          width: 200%;
          height: 100%;
          border-radius: 50%;
          left: 0px;
          transform: rotate(-315deg);
        "
      ></div>
    </div>



    <div
      style="
        position: absolute;
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        color: rgb(45, 177, 228);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      "
    >
      4<br />&nbsp;<br />&nbsp;
    </div>

    <div
      style="
        box-sizing: border-box;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 84px;
        height: 84px;
        border: 6px solid rgba(0, 0, 0, 0.1);
        border-radius: 50px;
      "
    ></div>

    <div
      style="
        position: absolute;
        top: 8px;
        right: 8px;
        width: 42px;
        height: 84px;
        overflow: hidden;
      "
    >
      <div
        style="
          box-sizing: border-box;
          position: absolute;
          top: 0px;
          border-width: 6px;
          border-style: solid;
          border-color: rgb(156, 202, 19) rgb(156, 202, 19) transparent
            transparent;
          width: 200%;
          height: 100%;
          border-radius: 50%;
          left: -100%;
          transform: rotate(-116.695deg);
        "
      ></div>
    </div>


    
    <div
      style="
        position: absolute;
        top: 8px;
        left: 8px;
        width: 42px;
        height: 84px;
        overflow: hidden;
      "
    >
      <div
        style="
          box-sizing: border-box;
          position: absolute;
          top: 0px;
          border-width: 6px;
          border-style: solid;
          border-color: rgb(156, 202, 19) rgb(156, 202, 19) transparent
            transparent;
          width: 200%;
          height: 100%;
          border-radius: 50%;
          left: 0px;
          transform: rotate(-315deg);
        "
      ></div>
    </div>
    <div
      style="
        position: absolute;
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        color: rgb(156, 202, 19);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      "
    >
      &nbsp;<br />3<br />&nbsp;
    </div>
    <div
      style="
        box-sizing: border-box;
        position: absolute;
        top: 16px;
        left: 16px;
        width: 68px;
        height: 68px;
        border: 6px solid rgba(0, 0, 0, 0.1);
        border-radius: 50px;
      "
    ></div>
    <div
      style="
        position: absolute;
        top: 16px;
        right: 16px;
        width: 34px;
        height: 68px;
        overflow: hidden;
      "
    >
      <div
        style="
          box-sizing: border-box;
          position: absolute;
          top: 0px;
          border-width: 6px;
          border-style: solid;
          border-color: rgb(164, 7, 94) rgb(164, 7, 94) transparent transparent;
          width: 200%;
          height: 100%;
          border-radius: 50%;
          left: -100%;
          transform: rotate(-101.441deg);
        "
      ></div>
    </div>
    <div
      style="
        position: absolute;
        top: 16px;
        left: 16px;
        width: 34px;
        height: 68px;
        overflow: hidden;
      "
    >
      <div
        style="
          box-sizing: border-box;
          position: absolute;
          top: 0px;
          border-width: 6px;
          border-style: solid;
          border-color: rgb(164, 7, 94) rgb(164, 7, 94) transparent transparent;
          width: 200%;
          height: 100%;
          border-radius: 50%;
          left: 0px;
          transform: rotate(-315deg);
        "
      ></div>
    </div>
    <div
      style="
        position: absolute;
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        color: rgb(164, 7, 94);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      "
    >
      &nbsp;<br />&nbsp;<br />6
    </div>
  </div>
</section> -->









<div class="progress-bar">
    <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
</div>

<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>






<!-- <div class="concentric-progress-bars">
    <div class="progress-bar outer">
      <div class="progress" style="--progress: 75;"></div>
    </div>
    <div class="progress-bar middle">
      <div class="progress" style="--progress: 50;"></div>
    </div>
    <div class="progress-bar inner">
      <div class="progress" style="--progress: 25;"></div>
    </div>
  </div> -->



  <!-- <div class="concentric-progress-bars">
    <div class="progress-bar outer" data-value="75%">
      <div class="progress" style="--progress: 75;"></div>
    </div>
    <div class="progress-bar middle" data-value="50%">
      <div class="progress" style="--progress: 50;"></div>
    </div>
    <div class="progress-bar inner">
      <div class="center-text">Value</div>
    </div>
  </div> -->




  <!-- <div class="concentric-progress-bars">
    <div class="progress-bar outer" data-value="75%">
      <div class="progress" style="--progress: 75;"></div>
    </div>
    <div class="progress-bar middle" data-value="50%">
      <div class="progress" style="--progress: 50;"></div>
    </div>
    <div class="progress-bar inner">
      <div class="center-text">Ayan</div>
    </div>
  </div> -->




  <div class="concentric-progress-bars">
    <!-- Outer progress bar -->
    <div class="progress-bar outer" [attr.data-value]="outerProgress + '%'">
      <div class="progress" [ngStyle]="{'--progress': outerProgress}" [title]="outerProgress + ' %'"></div>
    </div>
  
    <!-- Middle progress bar -->
    <div class="progress-bar middle" [attr.data-value]="middleProgress + '%'">
      <div class="progress" [ngStyle]="{'--progress': middleProgress}"  [title]="middleProgress + ' %'"></div>
    </div>
  
    <!-- Inner progress bar with center text -->
    <div class="progress-bar inner">
      <div class="center-text">{{ centerText }}</div>
    </div>
  </div>


