<!-- <p>alarm-raising-factors-steady works!</p> -->
<div    class="container-fluid " style="padding:40px;">
    <div class="mainArea_noNav">

        <!-- <p>potential-common works!</p> -->
        <div class="row">

            <div class="col-12" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #7667c4; color:#ffffff; border-radius: 15px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 500; cursor:pointer">
                <div class="row">
                    <i class="fa fa-arrow-left" aria-hidden="true" style="margin-top: 5px;" title="Go back to Segmentation Page"  (click)="goToSegmentation()"></i> &nbsp;&nbsp;
                    Factors causing the dip in performance
                </div>
            </div>

            <div class="col-lg-6 col-12">
                
                <mat-card>

                    <div class="row">
                        <div class="col-3 text-center"  style="padding:0px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background-color: #d7cfff; height:80px; display: flex; justify-content: center; align-items: center;">
                            <p style="margin-top: 10px;">YTD Premium</p>
                        </div>

                        <div class="col-3 text-center" style="padding:0px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            

                            <div class="row text-center" style="background: linear-gradient(to left, #ff9f40, #ff9f40);  display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                Current
                            </div>


                            <div class="row text-center" style="display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                15 L
                            </div>
                        </div>

                        <div class="col-3 text-center" style="padding:0px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            

                            <div class="row text-center" style="background: linear-gradient(to left, #bef264, #bef264);  display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                Expected
                            </div>


                            <div class="row text-center" style="display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                50 L
                            </div>
                        </div>

                        <div class="col-3 text-center"  style="padding:0px; font-size: 48px;font-weight: 900; color: red; background-color: #ffb52b; height:80px; display: flex; justify-content: center;">
                            <p style="margin-top: 5px;">-70%</p>
                        </div>

                    </div>

                </mat-card>
            </div>

            <div class="col-lg-4 col-12">
                <!-- <mat-card>

                    <div class="row">
                        <div class="col-4 text-center"  style="padding:0px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116); background-color: #d7cfff; height:80px; display: flex; justify-content: center; align-items: center;">
                            <p>Vintage (Years)</p>
                        </div>

                        <div class="col-4 text-center" style="padding:0px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            


                            <div class="row text-center" style="background: linear-gradient(to left, rgb(255, 159, 64), rgb(255, 159, 64));  display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                Laggard
                            </div>


                            <div class="row text-center" style="display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                2.4
                            </div>
                        </div>

                        <div class="col-4 text-center" style="padding:0px; font-size: 20px;font-weight: 500;color: rgb(0, 69, 116)">
                            


                            <div class="row text-center" style="background: linear-gradient(to left, #bef264, #bef264); display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                Potential
                            </div>


                            <div class="row text-center" style="display: flex; justify-content: center; align-items: center; height: 40px; font-weight: 900;">
                                3.9
                            </div>
                        </div>
                    </div>
                    

                </mat-card> -->
                
            </div>

            <div class="col-lg-4 col-md-6">
                
            </div>




        </div>
















        <div class="row">

            











            <div class="col-md-12 col-sm-12"  style="margin-top: 20px!important;">

                <div class="row" style="margin:0!important; padding:0!important;">





                    <div class="col-md-4 col-sm-12"  style="margin:0!important; padding:0!important; padding-right: 5px!important;">

                        <div class="chartBoxPad">

                            <div class="col-12 text-center" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #d7cfff; color: rgb(0, 69, 116); border-radius: 1px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 600;">
                                <div class="row text-center">
                                    Multi LOB Conversion Duration
                                </div>
                            </div>


                            <div class="row">                               
    
    
                                <div class="col-12" >

                                    <div class="row">

                                        <div class="writtenParameterBox" style="width: 45%">
                                            <div class="col-12 text-center" style="background-color: #ff9f40; padding: 10px;">
                                                Actual
                                            </div>
    
                                            <div class="col-12 text-center" style="background-color: #bef264; padding:10px;">
                                                Expected
                                            </div>
    
                                        </div>
                                    </div>
                                    

                                </div>


                                <div class="col-12">                                        
                                    <div id="multi_lob_conversion_duration"></div>
                                </div>


                            </div>




                        </div>

                    </div>


                    <div class="col-md-4 col-sm-12" style="margin:0!important; padding:0!important; padding-left: 5px!important; padding-right: 5px!important;" >
                        <div class="chartBoxPad">

                            <div class="col-12 text-center" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #d7cfff; color: rgb(0, 69, 116); border-radius: 1px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 600;">
                                <div class="row text-center">
                                    Digital Tool Trainings(Cumulative)
                                </div>
                            </div>


                            <div class="row">
    
                                <div class="col-12"  >

                                    <div class="row" style="display: flex; justify-content: center;">



                                        <div class="writtenParameterBox" style="width: 45%">
                                            <div class="col-12 text-center" style="background-color: #ff9f40; padding: 10px;">
                                                Adoption Rate
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                55%
                                            </div>
    
                                        </div>

                                        <div class="" style="width:20px"></div>   
                                        
    
                                        <div class="writtenParameterBox" style="width: 45%">
                                            <div class="col-12 text-center" style="background-color: #bef264; padding:10px;">
                                                Adoption Rate
                                            </div>
    
                                            <div class="col-12 text-center" style="padding:10px;">
                                                85%
                                            </div>
    
                                        </div>

                                    </div>
                                    

                                </div>

                                <div class="col-12">                                        
                                    <div id="digital_tool_trainings"></div>
                                </div>

                            </div>


                        </div>
                    </div>


                    <div class="col-md-4 col-sm-12" style="margin:0!important; padding:0!important; padding-left: 5px!important; padding-right: 0px!important;" >
                        <div class="chartBoxPad">

                            <div class="col-12 text-center" style="display: flex; align-items: center;  height: 50px; margin-bottom: 15px; background-color: #d7cfff; color: rgb(0, 69, 116); border-radius: 1px;  padding-left: 15px;padding-right: 15px; font-size: 20px; font-weight: 600;">
                                <div class="row text-center">
                                    Cross Sell
                                </div>
                            </div>



                            <div class="row">

                                
    
    
                                <div class="col-12" >

                                    <div class="row">

                                        <div class="writtenParameterBox" style="width: 45%">
                                            <div class="col-12 text-center" style="background-color: #ff9f40; padding: 10px;">
                                                Actual
                                            </div>
    
                                            <div class="col-12 text-center" style="background-color: #bef264; padding:10px;">
                                                Expected
                                            </div>
    
                                        </div>

                                    </div>
                                    

                                </div>

                                <div class="col-12">                                        
                                    <div id="cross_sell"></div>
                                </div>

                            </div>



                        </div>
                    </div>


                    

                </div>
                
            </div>

        </div>





    </div>

</div>

