<p>try-apex works!</p>

<!-- <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [labels]="chartOptions.labels"
    ></apx-chart>
</div> -->

<!-- <div>
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [plotOptions]="chartOptions.plotOptions"
    [labels]="chartOptions.labels"
    [dataLabels]="chartOptions.dataLabels"
    [title]="chartOptions.title">
  </apx-chart>
</div> -->



<!-- <div id="chart">
    <apx-chart
      [series]="chartOptions_radial.series"
      [chart]="chartOptions_radial.chart"
      [plotOptions]="chartOptions_radial.plotOptions"
      [labels]="chartOptions_radial.labels"
    ></apx-chart>
  </div> -->


<div id="container"></div>

<!-- <highcharts-chart 
  [Highcharts]="Highcharts" 
  [options]="chartOptions1"
  style="width: 100%; height: 400px; display: block;">
</highcharts-chart> -->